<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baxamoosa.helpwanted">

    <!-- This permission is necessary in order for HelpWanted to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Permissions required by Place Picker -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions required to make our UI more friendly -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions required for Google Cloud Messaging -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.baxamoosa.helpwanted.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.baxamoosa.helpwanted.app.permission.C2D_MESSAGE" />

    <application
        android:name=".application.HelpWantedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.JobPostingListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.JobPostingDetailActivity"
            android:label="@string/title_jobposting_detail"
            android:parentActivityName=".ui.JobPostingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.JobPostingListActivity" />
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.JobPostingListActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.JobPostingListActivity" />
        </activity>
        <activity
            android:name=".ui.MyJobs"
            android:label="@string/title_activity_my_jobs"
            android:parentActivityName=".ui.JobPostingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baxamoosa.helpwanted.ui.JobPostingListActivity" />
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>